// templates/meetups/meetup
.directive

  //- Show the meetup header.
  header.meetup-header(ng-if="fullView")
    .pull-right(ng-if="isAdmin" ng-controller="meetupModal")
      a.btn.btn-warning(ng-click="open()") edit

    h2.top
      a.meetup-back(href="/#/")
       i.fa.fa-angle-left.fa-fw

      | {{meetup.name}}

    hr(style="clear: both").top

  .media
    a.pull-left.mdate(href="/#/meetup/{{meetup._id}}")
      .mdate-month {{meetup.date | date: 'MMMM'}}
      .mdate-date {{meetup.date | date: 'dd'}}

    .pull-right(ng-if="isAdmin && listView" ng-controller="meetupModal")
      a.btn.btn-warning(ng-click="open()") edit

    .media-body
      h4.media-heading(ng-if="listView")
        a(href="/#/meetup/{{meetup._id}}") {{meetup.name}} - {{meetup.location}}

      .media-description(ng-class="{well: fullView}") {{meetup.description | addEllipsis:listView}}

      div(ng-if="fullView")
        .list-group
          .list-group-item.clearfix
            .row
              .col-xs-1: .fa.fa-map-marker.fa-lg.fa-fw
              .col-xs-11 {{meetup.location}}

          .list-group-item.clearfix
            .row
              .col-xs-1: .fa.fa-clock-o.fa-lg.fa-fw
              .col-xs-11 {{meetup.date | date: 'HH:mm'}}

  div(ng-if="fullView")
    user-schedule(meetup-id="{{meetup._id}}" ng-hide="!rounds.length")

      //- .pull-left.mdate
      //-   .mdate-month {{meetup.date | date: 'MMMM'}}
      //-   .mdate-date {{meetup.date | date: 'dd'}}

      //- .media-body
      //-   h4.media-heading
      //-     a(href="#/meetup/{{meetup._id}}") {{meetup.name}} - {{meetup.location}}
      //-   | {{meetup.description}}
      //-   | {{meetup.cap}}

  hr(ng-if="listView")
