.col-sm-10
  .panel.panel-default
    .panel-heading
      h1 Schedule
    .panel-body
      table.table.table-striped.table-condensed
        thead
          tr
            th Round
            th Name
            th Seat
            th Vote
        tbody
          tr.vac(ng-repeat="R in rounds")
            td(ng-if=" R.break" colspan="4") Break
            td(ng-if="!R.break") {{R.round}}
            td(ng-if="!R.break") {{R.partner.name}}
            td(ng-if="!R.break") {{R.seat}}
            td.votes(ng-if="!R.break")

              input.vote(name="vote-{{R.round}}" value="plz" ng-model="R.vote"
                id="vote-bai-{{R.round}}" type="radio")
              label.fa-stack(for="vote-bai-{{R.round}}")
                i.fa.fa-heart.fa-stack-2x

              input.vote(name="vote-{{R.round}}" value="meh" ng-model="R.vote"
                id="vote-plz-{{R.round}}" type="radio")
              label.fa-stack(for="vote-plz-{{R.round}}")
                i.fa.fa-heart-o.fa-stack-2x

              input.vote(name="vote-{{R.round}}" value="bai" ng-model="R.vote"
                id="vote-meh-{{R.round}}" type="radio")
              label.fa-stack(for="vote-meh-{{R.round}}")
                i.fa.fa-heart.fa-stack-2x
                i.fa.fa-bolt.fa-stack-2x