.col-sm-2
  ul.nav.nav-pills.nav-stacked
    li(ng-class="{active: selected == 'user'}")
      a(ng-href="#/admin/user" ) Users

    li(ng-class="{active: selected == 'question'}")
      a(ng-href="#/admin/question" ) Questions

    li(ng-class="{active: selected == 'gender'}")
      a(ng-href="#/admin/gender" ) Genders