include admin

.col-sm-10
  .panel.panel-default
    .panel-heading Gender: <b>{{doc.label}}</b>
    .panel-body
      form.js-form.form-horizontal(name='edit' role='form')
        .form-group.has-feedback
          label.col-sm-2.col-sm-offset-1.control-label(for='form-label') Label
          .col-sm-8
            input#form-name.form-control.js-input(ng-model='doc.label' type='text', name='label' )

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='#form-code') Code
          .col-sm-8
            input#form-nickname.form-control.js-input(ng-model='doc.code' type='text', name='code' )

        .form-group
          .col-xs-12
            ul.list-inline.pull-right
              li: span.btn.btn-danger(ng-show="edit.$dirty" ng-click="undo() && edit.$setPristine()") Undo
              li: button.btn.btn-primary(ng-click="save() && edit.$setPristine()") Save
