extends layout

block content
  .row
    .col-xs-12
      .well
        if (my)
          | You are currently logged in as #{my.username}
        else
          h1 Title
          p Welcome to #{title}
