doctype 5
//- html (implicit in HTML5)
//- head (implicit in HTML5)
title Title
title Passport Local Mongoose Example
link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.css')
//- link(rel='stylesheet', href='/css/custom.css')
block scripts
  script(src='/jquery/jquery.js')
  script(src='/bootstrap/dist/js/bootstrap.js')

//- body (implicit in HTML5)
.navbar.navbar-default(role="navigation")
  .navbar-header
    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/") OpenSpeedDating: #{title}

  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      if (my)
        li: a(href="/logout") Log Out
      else
        li: a(href="/register") Register
        li.divider
        li: a(href="/login") Log In

.container
  .row
    block content
