extends layout

block content
  .col-xs-6.col-xs-offset-3
    .well
      h1 Register

      form(action="/register", method="post", role="form")
        .form-group
          label(for="form-username") Username
          input#form-username.form-control(type="text", name="username", value="", placeholder="Username")

        .form-group
          label(for="form-password") Password
          input#form-password.form-control(type="password", name="password" placeholder="Password")

        .row
          .col-xs-6.col-xs-offset-3
            button.btn.btn-primary.btn-large.btn-block(type="submit") Register
