extends layout

block content
  .col-xs-12.col-sm-6.col-sm-offset-3
    .well
      h1 Register

      form(action="/register", method="post", role="form")

        if errormessage
          .alert.alert-danger #{errormessage}

        .form-group
          label(for="form-email") E-Mail Address
          input#form-email.form-control(type="text", name="email", value=locals.email, placeholder="E-Mail Address")

        .form-group
          label(for="form-password") Password
          input#form-password.form-control(type="password", name="password" placeholder="Password")

        .row
          .col-xs-6.col-xs-offset-3
            button.btn.btn-primary.btn-large.btn-block(type="submit") Register
