.mdate {
  width: 80px;
  height: 80px;
  text-decoration: none !important;
}

.mdate-month {
  background: @btn-info-bg;
  color: @btn-info-color;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-family: sans-serif;
}

.mdate-date {
  background: @well-bg;
  text-align: center;
  height: 55px;
  line-height: 55px;
  font-size: 50px;
  font-family: "American Typewriter";
}
