// Imports and Mixins
@import "_bootstrap.less";
@import "_mixins.less";

// Global Helpers
@import "_globals.less";

// Components
@import "_mdate.less";
@import "_votes.less";

@import "_slider.less";

.datepicker-block {
  -webkit-user-select: none;
          user-select: none;
  table {
    width: 100%;
  }

  .btn[disabled] {
    background: @gray-lighter;
  }
}
