form(ng-submit="requestToken(email)")
  .modal-header
    h3 Forgot Your Password?

  .modal-body
    alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)")
    label Email Address
    input.form-control(ng-model="email" type="email" placeholder="someon@example.com" required)

  .modal-footer
    button.btn.btn-warning.pull-left(type="button" ng-click="cancel()") Cancel
    button.btn.btn-primary.pull-right(type="submit") Help me @ {{email}}
