extends layout

block content
  .content
    if !my
      .jumbotron
        h1 Short Track

    .row
      .col-sm-9
        div(ng-view)

      .col-sm-3
        if my && my.admin
          div(ng-controller='adminList')
            h4.top Admin Actions
            .list-group(ng-controller='meetupModal')
              a(ng-click='open()').list-group-item Add a meetup

            .list-group(ng-controller='meetupCommands' ng-if="meetup != null")
              a(ng-click='view()').list-group-item View Meetup
              a(ng-click='generate()').list-group-item Generate Schedule
              a(ng-click='userlist()').list-group-item User Registration
              a(ng-click='fullschedule()').list-group-item Full Schedule

            h4 Admin Tools
            .list-group
              a(ng-href="/#/admin/user" ng-class="{active: selected == 'admin/user'}").list-group-item Users
              a(ng-href="/#/admin/question" ng-class="{active: selected == 'admin/question'}").list-group-item Questions
              a(ng-href="/#/admin/gender" ng-class="{active: selected == 'admin/gender'}").list-group-item Genders
              a(ng-href="/#/" ng-class="{active: selected == 'home'}").list-group-item Meetups