extends layout

block content
  .row: .col-xs-12
    .jumbotron
      h1 Short Track

  .row: .col-xs-12
    each meetup in meetups
      .media
        .pull-left
          .media-object.date-view

        .media-body
          h4.media-heading #{meetup.name} - #{meetup.location} - #{meetup.date}
          | #{meetup.description}

