extends layout

block content
  .content
    if !my
      .jumbotron
        h1 Short Track

    .row
      .col-sm-10
        div(ng-view)

      .col-sm-2
        if my && my.admin
          div(ng-controller='meetupModal')
            a(ng-click='open()').btn.btn-primary.pull-right.btn-block.
              Add a meetup

