doctype html
//- html (implicit in HTML5)
head

  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Short Track

  link(rel='shortcut icon' href='/public/favicon.ico')

  link(rel='stylesheet' href='/public/components/angular-rangeslider/angular.rangeSlider.css')
  link(rel='stylesheet' href='/public/components/bootstrap-datepicker/css/datepicker3.css')
  link(rel='stylesheet' href='/public/components/font-awesome/css/font-awesome.css')
  link(rel='stylesheet' href='/public/css/style.css')
  link(rel='stylesheet' href='/public/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')

  //- jQuery and Bootstrap
  script(src='/public/components/jquery/dist/jquery.js')
  script(src='/public/components/bootstrap/dist/js/bootstrap.js')
  script(src='/public/components/bootstrap-datepicker/js/bootstrap-datepicker.js')

  //- Lodash
  script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')

  //- Angular
  script(src="/public/components/angular/angular.js")
  script(src="/public/components/angular-route/angular-route.js")
  script(src="/public/components/angular-resource/angular-resource.js")
  script(src="/public/components/angular-sanitize/angular-sanitize.js")

  //- Angular Plugins
  script(src="/public/components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js")
  script(src='/public/components/angular-rangeslider/angular.rangeSlider.js')
  script(src='/public/components/checklist-model/checklist-model.js')
  script(src='/public/components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')

  //- Angular App
  script(src="/public/js/app.js")
  script(src='/public/js/profile.js')
  script(src="/public/js/forgot.js")
  script(src='/public/js/admin.js')
  script(src='/public/js/edit.js')

body(ng-app='sting')
  .navbar.navbar-default.navbar-static-top(role="navigation")
    .container
      .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/#/") Short Track Speed Dating

      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          if my && my.admin
            li: a(href="/admin/") Admin tools
          if my
            if my.profile[0]
              li: a(href="/profile") #{my.profile[0].name}
            else
              li: a(href="/profile") Fill out your profile!
            li: a(href="/logout") Log Out
          else
            li: a(href="/register") Register
            li.divider
            li: a(href="/login") Log In

  .container
    if messages.error
      .row
        .col-xs-12
          pre.alert-danger #{messages.error}




    block content






  script
    :coffee
      $ ->
        $('.disabled[data-provide=datepicker]')
          .datepicker()
          .find('table').addClass 'table'

  block scripts
