doctype html
//- html (implicit in HTML5)
head
  title Title
  title Passport Local Mongoose Example

  link(rel='stylesheet', href='/public/components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/public/components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css')
  link(rel='stylesheet', href='/public/components/bootstrap-datepicker/css/datepicker3.css')
  link(rel='stylesheet', href='/public/components/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='/public/components/stylesheets/style.css')

  script(src='/public/components/jquery/dist/jquery.js')
  script(src='/public/components/bootstrap/dist/js/bootstrap.js')
  script(src='/public/components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js')
  script(src='/public/components/bootstrap-datepicker/js/bootstrap-datepicker.js')


//- body (implicit in HTML5)
.navbar.navbar-default(role="navigation")
  .navbar-header
    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/") OpenSpeedDating: #{brand}

  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      if my
        li: a(href="/logout") Log Out
      else
        li: a(href="/register") Register
        li.divider
        li: a(href="/login") Log In

.container
  if messages.error
    .row
      .col-xs-12
        pre.alert-danger #{messages.error}

  block content

block scripts
