extends layout

block content
  .col-xs-12.col-sm-6.col-sm-offset-3
    .well

      if error
        .alert.alert-error
          p #{error}

      h1 Log In

      form(action="/login" method="post" role="form")
        .form-group
          label(for="form-email") E-Mail Address
          input#form-email.form-control(type="email" name="email" placeholder="someone@example.com")

        .form-group
          label(for="form-password") Password
          input#form-password.form-control(type="password" name="password" placeholder="•••••••••")

        .clearfix
          .pull-left(ng-controller="forgotPassword")
            button.btn.btn-primary(type="button" ng-click="startProcess()") Forgot Password
          .pull-right
            button.btn.btn-primary.btn-large(type="submit") Login

