extends layout

block content
  .row: .col-xs-12
    .panel.panel-default(ng-controller="ProfileController")
      .panel-heading <b>{{doc.email}}</b>
      .panel-body
        form.js-form.form-horizontal(name="profile" role='form' autosave model='doc.profile')

          fieldset
            legend Profile
            .form-group.has-feedback
              label.col-sm-2.col-sm-offset-1.control-label Name
              .col-sm-8
                input.form-control(type='text' name='name' ng-model="doc.profile.name")

            .form-group
              label.col-sm-2.col-sm-offset-1.control-label Nickname
              .col-sm-8
                input.form-control(type='text' name='nickname' ng-model="doc.profile.nickname")

            .form-group
              label.col-sm-2.col-sm-offset-1.control-label Age
              .col-sm-8: .row
                .col-sm-3.has-feedback
                  input.form-control(type='text' disabled ng-model="doc.profile.age.my")
                  .fa.fa-check.form-control-feedback

                .col-sm-9
                  .form-control-static.has-feedback
                    div(range-slider ng-if="doc.profile" min="18" max="100" model-max="doc.profile.age.my" pin-handle="min" show-values="false")


            .form-group
              label.col-sm-2.col-sm-offset-1.control-label Gender
              .col-sm-8
                ul.list-unstyled(ng-repeat="gender in genders track by $index")
                  li.checkbox: label
                    input(type='checkbox' ng-true-value="{{gender.code}}" ng-model="doc.profile.gender.my")
                    | {{gender.label}}

          fieldset
            legend Seeking
            .form-group
              label.col-sm-2.col-sm-offset-1.control-label Genders
              .col-sm-8
                ul.list-unstyled(ng-repeat="gender in genders track by $index")
                  li.checkbox: label
                    input(type='checkbox' checklist-value="gender.code" checklist-model="doc.profile.gender.seeking")
                    | {{gender.label}}

            .form-group
              label.col-sm-2.col-sm-offset-1.control-label Ages
              .col-sm-8: .row
                .col-sm-3.has-feedback
                  div: {{doc.profile.age.seeking[0]}} to {{doc.profile.age.seeking[1]}}

                .col-sm-9
                  .form-control-static.has-feedback
                      div(range-slider ng-if="doc.profile" min="18" max="100" model-min="doc.profile.age.seeking[0]" model-max="doc.profile.age.seeking[1]")


          fieldset
            legend Unanswered Match Questions
            .form-group
              button(ng-click="saveAnswer()") Next Question!
              //- {{currentQuestion}}
              h2 {{currentQuestion.text}}
              h3 My Answer
              //- p My answer is: {{currentAnswer.answer}}
              ul.list-unstyled(ng-repeat="answer in currentQuestion.answers track by $index")
                      li.checkbox: label
                        input(type='radio' ng-value="answer" ng-model="currentAnswer.answer")
                        | {{answer}}

              h3 Acceptable Answers
              //- p My answers are: {{currentAnswer.acceptable}}
              ul.list-unstyled(ng-repeat="answer in currentQuestion.answers track by $index")
                      li.checkbox: label
                        input(type='checkbox' ng-true-value="{{answer}}" ng-model="currentAnswer.acceptable[$index]")
                        | {{answer}}

              h3 How important is this question to you?
              //- p {{currentAnswer.importance}}
              ul.list-unstyled
                  li
                    input(type='radio' ng-model="currentAnswer.importance" value="2")
                    | Very important
                  li
                    input(type='radio' ng-model="currentAnswer.importance" value="1")
                    | Somewhat important
                  li
                    input(type='radio' ng-model="currentAnswer.importance" value="0")
                    | Not at all important


             

              h3 DEBUG: here are all the answers.
              {{doc.profile.answers}}
              

          //- fieldset
          //-   legend Match Questions
          //-   .form-group
          //-     ul.list-unstyled(ng-repeat="question in questions track by $index")
          //-       li.col-sm-12: .row
          //-         label.col-sm-3.control-label {{question.name}}
          //-         .col-sm-9
          //-           div: {{question.text}}
          //-           ul.list-unstyled(ng-repeat="answer in question.answers track by $index")
          //-             li.checkbox: label
          //-               input(type='checkbox')
          //-               | {{answer}}
