extends ../layout

block headerscripts
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js')

block content
  .row: .col-xs-12
    .panel.panel-default(ng-app="edit")
      base(href="/admin/")
      div(ng-init="config={ '_id': '#{gender._id}', collection:'gender', fields:['label','code']}")
        div(ng-controller="EditController")
          .panel-heading Gender: <b>{{doc.label}}</b>
          .panel-body
              form.js-form.form-horizontal(role='form')
                .form-group.has-feedback
                  label.col-sm-2.col-sm-offset-1.control-label(for='form-label') Label
                  .col-sm-8
                    input#form-name.form-control.js-input(ng-model='doc.label' type='text', name='label' )

                .form-group
                  label.col-sm-2.col-sm-offset-1.control-label(for='#form-code') Code
                  .col-sm-8
                    input#form-nickname.form-control.js-input(ng-model='doc.code' type='text', name='code' )

                .form-group
                  .col-xs-12
                    ul.list-inline.pull-right
                      li: span.btn.btn-danger(ng-click="undo()") Undo
                      li: button.btn.btn-primary(ng-click="save()") Save

block scripts
  script(src='/public/js/edit.js')
