extends ../layout

block content
  div(ng-app="admin")
    .row:.col-xs-12
      .panel.panel-default
        .panel-heading Users
        .panel-body(ng-controller="AdminController")
          h1 {{sometext}}
          table.table.table-striped
            thead
              tr
                th Email
                th Salt
            tbody
              each user in users
                tr
                  td: a(href="/admin/user/#{user.email}") #{user.email}
                  td: code #{user.salt}

block scripts
  script
    :coffee
      console.log 'HAI DENNY'

      angular.module("admin", ["thing"])
        .controller "AdminController", ($scope) ->
          $scope.sometext = "HAI DENNY"
        .service "thing", () ->
          return "a"
