extends ../layout

block content
  div(ng-app="admin")
    .row:.col-xs-12
      .panel.panel-default
        .panel-heading Users
        .panel-body(ng-controller="AdminController")
          h1 {{sometext}}
          table.table.table-striped
            thead
              tr
                th Email
                th Salt
            tbody
              tr(ng-repeat="user in users")
                td: a(href="/admin/user/{{user.email}}") {{user.email}}
                td: code {{user.salt}}

block scripts
  script
    :coffee
      console.log 'HAI DENNY'

      angular.module("admin", ["adminServices"])
        .controller "AdminController", [
          "$scope", "user"
          ($scope, user) ->
            $scope.sometext = "test"
            userlist = user.query {}, ->
              $scope.users = userlist
        ]

      angular.module("adminServices", ["ngResource"])
        .factory "user", ($resource) ->
          $resource '/api/user', {}