extends ../layout

block content
  .row
    .col-sm-2
      ul.nav.nav-pills.nav-stacked
        li.active: a Users
        li: a Questions
        li: a Genders

    .col-sm-10

      div(ng-app="admin")
        .panel.panel-default
          .panel-heading Users
          .panel-body(ng-controller="AdminController")
            h1 {{sometext}}
            table.table.table-striped
              thead
                tr
                  th(ng-repeat="field in fields") {{field}}
                  th edit
                  th remove
              tbody
                tr(ng-repeat="doc in docs")
                  td(ng-repeat="field in fields") {{doc[field]}}
                  td: a(href="/admin/edit/{{selected}}/{{doc.id}}") edit
                  td: a(href="/admin/remove/{{selected}}/{{doc.id}}") remove

block scripts
  script
    :coffee
      console.log 'HAI DENNY'

      angular.module("admin", ["adminServices"])
        .controller "AdminController", [
          "$scope", "user"
          ($scope, user) ->
            $scope.sometext = "ANGULAR IS WORKING"
            $scope.fields = ['email', 'nickname']
            userlist = user.query {}, ->
              $scope.docs = userlist
        ]

      angular.module("adminServices", ["ngResource"])
        .factory "user", ($resource) ->
          $resource '/api/user', {}