extends ../layout

block content
  .row(ng-app="admin")
    script(type="text/ng-template" id="list.html")
      h1.panel-heading {{sometext}}
      .panel-body
        table.table.table-striped
          thead
            tr
              th(ng-repeat="field in fields") {{field}}
              th edit
              th remove
          tbody
            tr(ng-repeat="doc in docs")
              td(ng-repeat="field in fields") {{doc[field]}}
              td: a(href="/admin/edit/{{selected}}/{{doc.id}}") edit
              td: a(href="/admin/remove/{{selected}}/{{doc.id}}") remove

    base(href="/admin/")
    .col-sm-2
      ul.nav.nav-pills.nav-stacked
        li.active: a(href='#/user') Users
        li: a(href='#/question') Questions
        li: a(href='#/gender') Genders

    .col-sm-10
      .panel.panel-default
        div(ng-view)

block scripts

  script
    :coffee
      console.log 'HAI DENNY'

      angular.module("admin", ["adminServices", "ngRoute"]).config [
        '$routeProvider', '$locationProvider',
        ($routeProvider, $locationProvider) ->

          $routeProvider

            .when '/user',
              controller: 'AdminController'
              templateUrl: 'list.html'
              usemodel: 'user'

            .when '/question',
              controller: 'AdminController'
              templateUrl: 'list.html'
              usemodel: 'question'

            .when '/gender',
              controller: 'AdminController'
              templateUrl: 'list.html'
              usemodel: 'gender'

        ]
        .controller "AdminController", [
          "$scope", "user",
          ($scope, user) ->
            $scope.sometext = "ANGULAR IS WORKING"
            $scope.fields = ['email', 'nickname']

            console.log "WHUTUP"

            userlist = user.query {}, ->
              $scope.docs = userlist
        ]

      angular.module("adminServices", ["ngResource"])
        .factory "user", ($resource) ->
          $resource '/api/user', {}

